/*css provisoire test classement*/
.classement {
     /*background-color: rgba(255,255,255,0.0);*/
     /*background-color: rgba(116,182,47,0.6);*/
     padding: 0;
     border-radius: 1vh 1vh 0 0;
     position: relative;
     background-image: url("../../img/fond-voiture-clair.jpg");
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
}

.barProgress {
    height: 2vh;
    /*width: 100%;*/
    background-color: #fdeb1a;
    border-radius: 1vh;
    position: relative;
    overflow: visible;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    border: 0.5vh solid rgb(206,86,69);
    /*z-index: 5;*/
}

.tag {
    height: 25%;
    width: 95%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 1vh;
    position: relative;
    overflow: visible;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: middle;
    text-align: center;
    z-index: 5;
}

.tag p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.9vh !important;
    font-weight: bold;
}


.equipe {
    /*background-color: #74b62f;*/
    position: relative;
    height: 16vh;
    padding: 5px;
    /*border-bottom: 2px solid white;*/
    /*border-radius: 1vh;*/
    margin-top: 0.5vh;
    background-color: rgba(116,182,47,0.6);

}

.zoneProgress {
    position: relative;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
   
}
.blocSocial{
    position: relative;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.imgSocial{
    width: 100%;
    height: 57%;
    position: absolute;
    top: 5%;
    left: 0%;
    /*transform: translateX(-50%) translateY(-50%);*/
    
}

.blocSocial img, .logoClassement img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

.likeSocial {
    height: 30%;
    width: 90%;
    position: absolute;
    bottom: 5%;
    text-align: center;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.5);
    border-radius: 0.8vh;

}

.likeSocial p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.9vh !important;
}


.fbk, .twt, .itg {
    position: relative;
    height: 80%;
    top: -2%;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    
}

.autonomie {
    position: relative;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}

.autonomie img {
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

.logoClassement {
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
    height: 100%;
}

.zonePosition p {
    font-size: 5vh;
    width: 100%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.zonePosition {
    position: relative;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0.8vh;
}

.cursorProgress{
    position: absolute;
    /*left: 100%;*/
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    height: 8vh;
}

.equipeHeader {
    /*background-color: #74b62f;*/
    position: relative;
    min-height: 5vh;
    padding: 5px;
    /*border-bottom: 2px solid white;*/
    border-radius: 1vh 1vh 0 0;
    /*margin-bottom: 0.5vh;*/
    background-color: rgba(0,0,0,0.8);
    color: #74b62f;
    font-size: 2.6vh;
}

.equipeHeader p {
    color: rgba(116, 182, 47,1);
}