* {
	box-sizing: border-box !important;
}

#top-infos .navbar-header {
	float: none;
}

#top-indicators {
	list-style: none;
	float: left;
	padding-top: 6px;
	vertical-align: middle;
}

#top-right-infos {
	list-style: none;
	float: right !important;
	padding-top: 6px;
	vertical-align: middle;
}

#top-right-infos li {
	display: block;
	position: relative;
	color: white;
	padding: 5px 30px 10px 10px;
}


#top-indicators::before, #back-organisation::before, #back-logout::before, #back-welcome::before, #back-title::before {
	content: " ";
	display: table;
}

#top-indicators li {
	display: inline-block;
	position: relative;
	color: white;
	padding: 10px 30px 10px 10px;
}

#top-indicators li a {
	line-height: 17px;
	padding-top: 9px;
	padding-bottom: 9px;
}

#top-indicators .badge {
	background-color: #337ab7;
	margin-bottom: 5px;
	position: absolute;
	top: 0;
}

#top-infos {
	background-color: #282b30;
	color: white;
	/*height: 50px;*/
	border-bottom: 1px solid white;
}

#top-infos navbar-header{
	width: 100%;
	height: 50px;
}

#back-title {
	float: left;
	vertical-align: middle;
	height: 35px;
	line-height: 22px;
	padding: 9px 5px;
	font-size: 20px;
}
#back-organisation {
	float: left;
	vertical-align: middle;
	height: 35px;
	line-height: 17px;
	padding: 13px 5px;
	font-size: 15px;
	color: rgba(116, 182, 47,1);
}

#back-welcome {
	float: right;
	vertical-align: middle;
}

#back-logout {
	display: block;
	float: right;
	vertical-align: middle;
}

#top-indicators::after, #back-organisation::after, #back-logout::after, #back-welcome::after, #back-title::after {
clear: both;
}

#nav-sidebar {
	/*height: 100%;*/
	background-color: rgba(0,0,0,.9);
	color: white;
}

#nav-sidebar.navbar{
	margin-bottom: 0;
	border-bottom: 1px solid rgba(116, 182, 47,1);
}

#nav-sidebar.navbar, #nav-sidebar .navbar{
	border-radius: 0;
}

#nav-sidebar .navbar-toggle {
	border: 2px solid rgba(116, 182, 47,1);
}

#nav-sidebar .navbar-toggle .icon-bar{
	background-color: rgba(116, 182, 47,1);
}

#nav-sidebar ul{
	list-style: none;
}

#nav-sidebar-collapse .navbar-nav>li>a{
	color: rgba(116, 182, 47,1);
}

#nav-sidebar-collapse .navbar-nav>li>a:hover{
	background-color: rgba(255, 255, 255,0.1);
}

#back-content {
	background-color: rgba(0,0,0,.8);
	padding-bottom: 15px;
	padding-top: 15px;
}

#back-content h3{
	color: rgba(116, 182, 47,1);
}

.encart {
	border: 1px solid rgba(116, 182, 47,1);
	/*border: 1px solid white;*/
	border-radius: 6px;
	padding: 15px;
	color: white;
	margin: 5px;
	flex: 1;
}

#main.container {
	padding: 0px !important;
	margin: 0 !important;
	width: 100%;
}

#main .row {
	padding: 0px !important;
	margin: 0 !important;
}

#back-content ul li {
	display: inline-block;
	position: relative;
	color: white;
	padding: 10px 30px 10px 10px;
}

#back-content .badge {
	margin-bottom: 5px;
	position: absolute;
	top: 0;
}

.badge-vert {
	background-color: rgb(63, 142, 11);
}

.badge-bleu {
	background-color: #337ab7;
}

.badge-orange {
	background-color: rgb(242, 121, 21);
}

.badge-rouge {
	background-color: red;
}

#main {
	clear: both;
}



