.imageBox
{
    position: relative;
    height: 300px;
    width: 300px;
    border:3px solid rgba(116, 182, 47,1);
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
}

.imageBox .thumbBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    /*margin-top: -50px;
    margin-left: -50px;*/
    box-sizing: border-box;
    border: 3px solid rgba(116, 182, 47,1);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 300px;
    background: rgba(0,0,0,0.7);
}

.action {
    /*width: 400px;
    height: 30px;*/
    margin: 10px 0;
}

.cropped>img {
    margin-right: 10px;
}

#btnCrop {
    float: right;
    margin-top: 10px;
}

#btnZoomOut,#btnZoomIn {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}