#sidenav-seconnecter, #sidenav-participer {
    position: absolute;
   	background: rgba(255, 255, 255, 0.9);
	z-index: 9999;
	padding-top: 0;
	overflow:hidden;
	min-height: 0px;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	display:none;
}



#sidenav-seconnecter h2,#sidenav-participer h2 {
   color: green;
}


/*.step2, .step3, #confirmation {
	display: none;
}*/

.sign {
	padding-top: 15px;
}



#login, #signin, .sidenav-container{
position: relative;
margin-right: 0;}

#sidenav-seconnecter .form-control, #sidenav-participer .form-control {
    background-color: rgba(255,255,255,0.9);
    border: 1px solid rgba(116, 182, 47,1);
   
}


#sidenav-seconnecter .input-group-addon, #sidenav-participer .input-group-addon{
    vertical-align: middle;
    background-color: rgba(116, 182, 47,1);
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(116, 182, 47,1);
    min-width: 50px;
}

#sidenav-seconnecter input, #sidenav-participer input, #sidenav-participer select{
	height: 40px;
	font-size: 1.14em;
}

#sidenav-seconnecter label, #sidenav-participer label {
	font-size: 1.14em;
}

#sidenav-seconnecter .btn, #sidenav-participer .btn {
	font-size: 1.14em;
}

.pwd-chk .glyphicon{
    cursor:pointer;
}
