#sidenav-seconnecter {
    position: absolute;
   	background: #fff;
	/*top: 0;
	right: 0;
	
	height: 100vh;*/
	z-index: 9999;
	padding-top: 0;
	/*transform: translateX(20vw);*/
	transition: all .4s ease-out;
	height: 0px;
	overflow:hidden;
	min-height: 0px;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	border-radius: 20px;
}

#sidenav-participer {
    position: absolute;
   
	/*top: 0;
	right: 0;
	width: 30vw;
	/*height: 200vh;*/
	z-index: 9999;
	padding: 0;
	/*transform: translateX(30vw);*/
	transition: all .4s ease-out;
	height: 5px;
	min-height: 0px;
	overflow:hidden;
}

#sidenav-participer h2 {
   color: green;
}

#sidenav-content {
	display:none;
}

.slideLeft {
    transform: translateX(0vw)!important;
    transition: all .2s ease-in;
}

.expand {
    height: auto;
    transition: all .2s ease-in;
}

.slideFullScreen {
	transform: translateX(0vw)!important;
    transition: all .2s ease-in;
}

.show {
	display: block;
}

/*.step2, .step3, #confirmation {
	display: none;
}*/

.sign {
	padding-top: 15px;
}


#login, #signin {
position: relative;
margin-right: 0;}